= simple_form_for(@cl, :remote => true) do |f|
  = f.input :name, label: false, :placeholder => 'Name', :input_html => { :class=>"input-xxlarge"}
  = f.input :description,  :as => :text ,label: false, :placeholder => 'Description',  :input_html => { :cols => 3, :rows => 5 }
  = f.button :submit, "Save", :class => 'btn-primary pull-right'
  %a(id="cancel_button" class='btn btn-primary pull-right' onclick="$(this).trigger('close')") Cancel



