.emailList(align="left")
  #div
    %label Select your e-mail list:
    = select_tag "contacts", options_from_collection_for_select(@contacts_lists, "id", "name"), {:prompt => 'Select' , :class => 'contact-list-select' }
    %a(class="btn btn-info" id="add" href="/contacts_lists/new" data-remote='true'  )
      %i.icon-plus &nbsp;Add
    %a(class="btn btn-info" id="edit" data-remote='true' )
      %i.icon-pencil &nbsp;Edit
    %a(class="btn btn-info" id="delete" data-remote='true' )
      %i.icon-trash &nbsp;Delete
    
   

  %label Participants
  %a(class="btn btn-info" id="add-contact" data-remote='true'  )
    %i.icon-plus &nbsp;Add
  %br
  %br
  #contacts-list-table
  %table( class="table table-bordered ")
    %th First Name
    %th Last Name
    %th E-mail address
    %th Comments
    %th Actions
    %tbody#contact_list
   



  

:javascript
  //Edit
  $('#edit').on('click', function(){
    var selected = $('#contacts option:selected').val();
    if(!(selected === '')){
    $('#edit').attr('href', '/contacts_lists/'+selected+'/edit');
    }
  });


  //Delete
  $('#delete').on('click', function(){
    var selected = $('#contacts option:selected').val();
    
    if(!(selected === '')){
    $('#delete').attr('href', '/contacts_lists/'+selected+'/delete');
    }
    
  });

  // load contacts for the list
  $('#contacts').change(function(){
     var selected = $('#contacts option:selected').val();
     if(!(selected === '')){
     $.ajax({
        url: '/contacts_lists/'+selected+'/load_contacts',
        type: "GET"
      })
      }
  });


  //show add contact modal
  $('#add-contact').on('click', function(){  
     var selected = $('#contacts option:selected').val();
     if(!(selected === '')){
       $.ajax({
        url: '/contacts/new',
        data: {cl_id: selected},
        type: "GET"
      })
      }
   });