%body
  %h1 Welcome to Surface!, #{@user.first_name}
  %p You have successfully signed up to Surface.
  %p Your username is #{@user.email}
  %p To login to the site, please follow this link:
  = @url
  %p Thanks for joining us!
