Welcome to Surface!, #{@user.first_name}
\================================
You have successfully signed up to Surface.
Your username is #{@user.email}
To activate your account, simply click on the link below or paste into the url field on your favorite browser:
=@confirm_account_url
The activation link will only be good for 2 days, after that you will have to try again from the beginning.
Thanks for joining us!

The Surface Team.
