// Remove if exist
$('#delete-contact').remove();

// Render delete view
- content = escape_javascript(render('delete'))

// Append rendered content to the body
$('body').append("#{content}");

// Add popup-window class
$('#delete-contact').addClass('popup-window');

// lightbox the window
$('#delete-contact').lightbox_me({centered: true});


