// Remove if exist
$('#deletecl').remove();

// Render delete view
- content = escape_javascript(render('delete'))

// Append rendered content to the body
$('body').append("#{content}");

// Add popup-window class
$('#deletecl').addClass('popup-window');

// lightbox the window
$('#deletecl').lightbox_me({centered: true});


