// Remove the span that contains the error field if exist
$('span.help-inline-contacts-list').remove();
// Add message error next to the name field
$('#contacts_list_name').after("<span class='help-inline-contacts-list'>can't be blank</span>");



