//Remove modal window if exists

$('#new-contact').trigger('close');
$('#new-contact').remove();

// Render delete view
- content = escape_javascript(render('load_contacts_partial'))
// Append rendered content to the body
$('#contact_list').html("#{content}");


