body{
    background: #fff url(bg2.jpg) repeat top left;
}

.content {
    margin-top: 20px;
    background-color: #eee;
    padding: 20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}



.signup h3{
    color:#8a9f13;
    text-align: center;
}

.well {
    padding: 35px!important;
    background-color: #eeeeee;
}


.hero-unit.home-main-banner-ph h2{
    color: #333333;
}

.container-fluid-home{
    margin-top: 60px!important;
/*    margin-bottom: 10px!important;*/
}

.container-box-markeing-home{
    height: 200px!important;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

