@import "bootstrap";
@import "font-awesome";


body{
  background: #fff url(a9.png) repeat top left;
}

.content {
  margin-top: 20px;
  background-color: #eee;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.signup h3{
  color: #fff;;
  text-align: center;
  text-shadow: 0 2px 0 #0044cc;
  line-height: .9em;
  font-family: 'Oleo Script';
}

.well {
  padding-bottom: 30px;
  padding-left: 30px;
  background: url(a2.jpg)
}

.hero-unit.home-main-banner-ph h2{
  color: white;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
}

.container-fluid-home{
  margin-top: 60px!important;
}

.container-box-markeing-home{
  background-image: url(surv.jpg);
  background-size:100% 100%;
  color: white;
  height: 200px!important;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.input-prepend {
  margin-bottom: 0px!important;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  color: white;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

.footer{
  /*  background-color: #333333;*/
  background: url(a2.jpg);
  border-top: 1px solid #e3e3e3;
}

.footer p{    
  padding-top: 20px;
  color: #999999;
  text-align: center;
}

/*Contact list page MOVE IT */

.contact-list-select{
  margin-top: 10px;
}


/*Dashboard/take a tour page*/
.title-Oleo-h1{
  padding-left: 300px;
  padding-top: 200px;
  text-align: center;
  font-size: 55px;
  overflow: hidden;
  line-height: .9em;
  font-family: 'Oleo Script';
}

.center-img{
  position: absolute;
  top: 130px;
  left: 5px;
  /*  padding: 30px 0;*/
  /*  text-align: center;*/
}


.popup-window {
  color: #999999;
  -moz-border-radius: 2px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  border: 1px solid #536376;
  -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
  -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
  padding: 14px 22px;
  position: relative;
  display: none;
}
.popup-window h5{
  border-bottom: 1px solid #005580;
  color: #333333;
}


#close_x {
  cursor: pointer;
  width: 15px;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  background-position: -387px -102px;
  text-decoration: none;
}

.help-inline-contacts-list {
  color: #b94a48;
  display: block;
  vertical-align: middle;
  padding-left: 5px;

}

#newcl textarea {
  width: 532px;
}

#cancel_button
{
  margin-right: 6px;
}


.emailList table th {
  color: white;

}
.emailList table{
  color: #999999;
  background-color: #333333;
}

.emailList select {
  color: #999999;
  background-color: #333333;
  border: 1px solid white;
}