
.tabbable
  %ul(id="myTab" class="nav nav-tabs")
    %li
      =link_to('Take a tour', contacts_lists_path)
    %li
      =link_to('Address Book', contacts_lists_path)
    %li
      =link_to('Manage surveys', contacts_lists_path)
    %li
      =link_to('Preferences', contacts_lists_path)
= yield
      