%a.brand{:href => "#"}
  .logo Surface
%div{class: 'nav-collapse'}
  %ul.nav
    %li.active
      =link_to('Home', root_path)
    %li
      =link_to('About', root_path)
    %li
      =link_to('Contact', root_path)
- if !signed_in?
  :plain
    <form id="signin_form"  action="/login" class="simple_form navbar-form pull-right" method="get">
       <div class="input-prepend">
         <span class="add-on"><i class="icon-envelope"></i></span>
         <input class="string email required" id="user_email" name="user[email]" placeholder="User Email" size="50" type="email" />
       </div>
       <div class="input-prepend">
         <span class="add-on"><i class="icon-key"></i></span>
         <input id="user_password" input_html="{:class=&gt;&quot;span2&quot;}" label="false" name="user[password]" placeholder="User Password" size="30" type="password" />
       </div>
         <button class="btn btn-primary" input_html="{:class=&gt;&quot;span2&quot;}" name="commit" type="submit" value="Sign in" >
           <i class="icon-user">&nbsp;Sign in</i>
         </button>
    </form>
- if signed_in?
  %ul{:class => "nav secondary-nav pull-right"}
    %p.navbar-text.pull-left
      Welcome back
      %span(style="color:#51a351") #{@current_user.first_name} &nbsp;
    %li.dropdown.active
      %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
        %i.icon-circle-arrow-down
      %ul.dropdown-menu
        %li
          = link_to 'Log out', :controller => "sessions", :action => "logout"
        %li
          = link_to 'Settings', '#'
        %li.divider
        %li
          = link_to 'Help', '#'

